extends layout

block content
  
  section#quiz
    .container
      h1= title
      h2= questions.category
      h3= questions.questionContent
      -for(var i=0; i < 4; i++)
        .col-sm-6 
          p(onclick="checkAnswer(#{questions.answer[i].id},#{questions.correctID})")= questions.answer[i].answerContent
      #ans
          
      a(href="/quizpage") Go to Quiz
      
